body{
    background-color: #4B4237;
}
*::selection{
    background-color:dodgerblue;
    color:aliceblue;
}
header {
    background-color:rgba(12, 12, 12, 0.7);
    border-radius: 5px;
    padding: 2rem 0;    
    position: relative;
   
}    

header:before{
    content:"";    
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: url(/img/panadero.jpg) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: top;
    background-position-y: -40%;
    opacity: 0.2;
    
}

.centrado{
    display:flex;    
    justify-content: center;
}

.div{
    float: left;
    max-width: 100%;
    max-height: 900px;  
    background-color: #736B60;
    padding: 20px;
    text-align: justify;
    line-height: 2rem;
    color:#67f3f8;
    overflow:auto;    

}
 

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
  
}

h1{
    text-align: center;
}

  .logo{
    background-image: url(/img/Dulcis_Vita.jpg);
    background-size:contain;
    position: relative;
      float: left;
      width: 100px;
      height: 100px;
      padding: 50px;
      margin:30px;     
      color:#ccc;
      border-radius: 100px;
      opacity:.9;
      box-shadow: 5px 5px 5px rgb(0, 24, 24,0.7);
  
}

  .header a {
      color:antiquewhite;
      text-decoration: none;
  }

  .log-nav-cont{
      display: flex;
      justify-content:space-between;
      align-items:center;
      flex-wrap: wrap;

  }

  .nav_ ul{
      margin:0;
      padding:0;
      list-style: none;
  }

  .nav_ ul li{
      display:inline-block;
  }
  .nav_ ul li a{
      display: block;
      position: relative;
      padding: 0.5rem 1rem;
      transition: all 0.5s linear;
      color:#D5A021;
      font-weight: bold;
      text-shadow: 7px 5px 5px rgb(0, 24, 24);
  }
  .nav_ ul li a:hover{
      background: brown;
      border-radius: 10px;

  }

  table{
      border-spacing: 10px;
      border-collapse: collapse;
      line-height: 1.5em;
  }

  table th{
      background-color: #0DD8D8;      
      color:#4B4237;      
      font-weight: bold; 
     
  }

  td{
      width:5%
  }
  
table tbody tr:nth-child(odd){
    background-color: #4B4237;
}

table tbody tr:nth-child(even){
    background-color: #a37295;
    padding-top: 5%;
    padding-bottom: 5%;
}

  .ajustar1{
      text-align: left;
  }

  .ajustar{
      width:1%;
      white-space: nowrap;      
      text-align: center;
  }

  .th{
    background-color: #0DD8D8;      
    color:#4B4237;
    border-radius:10px 0 0 10px;
    font-weight: bold;
  }

.th1{
    background-color: #0DD8D8;      
    color:#4B4237;
    border-radius:0 10px 10px 0;
    font-weight: bold;
  }

  .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

  } 

    .tel{      
      background-color: none;
      color:aliceblue;
      text-decoration: none;
      line-height: 1;
      
  }

  .find{
      color:antiquewhite
  }

  .bol{
      width:140px;
      height:10px;
      text-align: justify;
      color:antiquewhite;
      margin-left: 200px;
      
  }

  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}